  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Welcome To The User Management App
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Welcome To The User Management App</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="centerContainer">
      <ion-card class="custom-card" (click)="navigateView()">
        <ion-card-header>
          VIEW
        </ion-card-header>
        <ion-card-content>
          You Can View The List Of Users Here
        </ion-card-content>
      </ion-card>

      <ion-card class="custom-card" (click)="navigateManage()">
        <ion-card-header>
          MANAGE
        </ion-card-header>
        <ion-card-content>
          You Can Manage The List Of Users Here
        </ion-card-content>
      </ion-card> 
    </div>

    

  </ion-content>
