ion-title {
  text-align:center;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-card {
  width: 80%;
  max-width: 300px;
  background-color: #444; /* Gray background */
  color: #fff; /* White text */
  margin: 10px;
  cursor: pointer;
}

.custom-card ion-card-content {
  text-align: center;
}

ion-card-header {
  text-align: center;
}